<template>
  <div style="padding:5vh">
    <template>
      <a-timeline  mode="left">
        <a-timeline-item>
          <h1>Problemática</h1>
          De acuerdo a una investigación de la Universidad Privada Cayetano Heredia (UPCH) la detección temprana de la hipoxemia (baja concentración de oxígeno en la sangre) reduciría el riesgo de muerte en pacientes con COVID-19, pues este es el principal factor predictor de muerte en pacientes COVID-19 hospitalizados en su nosocomio.

          “Casi un 50% de pacientes que ingresaron al hospital por COVID 19, en dicho periodo, fallecieron porque al momento de su admisión a nuestro nosocomio, padecían de un agudo cuadro de hipoxemia, que finalmente resultó siendo mortal para ellos ya que no pudieron revertir la baja concentración de oxígeno en su sangre. Si los pacientes están mucho tiempo con falta de oxígeno en la sangre, tienen mayor riesgo de muerte, Independientemente si es obeso, adulto mayor, diabético, o hipertenso”.

          “Para evitar que los pacientes mueran en UCI, lo que se necesita es que las personas con COVID lleguen temprano a un centro de atención de salud primaria, para que le detecten si tienen o no, una baja concentración de oxígeno en la sangre. De esa manera, no sólo se reduce el riesgo de que la persona muera, sino que evita que llegue a una cama UCI y sature el sistema de Emergencia en los hospitales”.
          <br>
          Fuente: <a  href="http://www.hospitalcayetano.gob.pe/PortalWeb/deteccion-temprana-de-hipoxemia-reduciria-riesgo-de-muerte-en-pacientes-con-covid-19/
">http://www.hospitalcayetano.gob.pe/PortalWeb/deteccion-temprana-de-hipoxemia-reduciria-riesgo-de-muerte-en-pacientes-con-covid-19/
        </a>
        </a-timeline-item>
        <a-timeline-item>
          <h1>Objetivo</h1>
          Permitir que más personas con pocos recursos económicos y en zonas donde el nivel de
            contagios es crítico puedan acceder a poder medirse la concentración de oxígeno en su
            sangre, y de ese modo detectar de manera temprana la hipoxemia y evitar que paśe más
            tiempo hasta que se desarrollé un cuadro agudo que aumentaría el riesgo de muerte sin
            importar si se es obeso, adulto mayor, diabético o hipertenso.
        </a-timeline-item>
        <a-timeline-item>
          <h1>Propuesta</h1>
          El servicio de medición de Saturación de Oxígeno llamado Oxímetro Perú, es una iniciativa de carácter social liderada por profesionales del campo tecnológico (electrónica, sistemas, entre otros).
          Tiene por finalidad brindar acceso a personas vulnerables y de escasos recursos económicos a que puedan medirse el nivel de Saturación de Oxígeno (SpO2) en lugares críticos del Perú donde la pandemia ha afectado en mayor medida.
          Para ello se está facilitando equipos de medición (pulsioxímetros) a voluntarios y personas interesadas en operar el servicio en determinados puntos de medición. Para ello se ha redactado un protocolo en el cual se establecen las recomendaciones para brindar el servicio de manera segura siguiendo las recomendaciones dadas por las entidades de salud correspondientes a nivel nacional e internacional.

        </a-timeline-item>
      </a-timeline>
    </template>


  </div>
</template>
