<template>
    <div >
        <a-list bordered  size="large"  :data-source="data"  >
            <template #header>
                <h2>  Redes Sociales</h2>
            </template>

            <a-list-item slot="renderItem" slot-scope="item">

                <a-list-item-meta >
                    <template #title>
                      <a-icon :style="{fontSize:'24px',marginRight:'8px'}"  :type="item.icon"></a-icon>
                        <a  :href="item.link" target="_blank"> <h1>{{ item.name }}</h1></a>
                    </template>
                  <template #description>
                    <div v-html="item.iframe"></div>
                  </template>
                </a-list-item-meta>

            </a-list-item>

        </a-list>
        <a-list bordered  size="large"  :data-source="data"  >
            <template #header>
                <h2>  Formato de Contacto</h2>
            </template>

            <a-list-item slot="renderItem" slot-scope="item">
                <a-icon :style="{fontSize:'24px',marginRight:'8px'}"  :type="item.icon"></a-icon>
                <a-list-item-meta >
                    <template #title>
                        <a  :href="item.link" target="_blank"> <h1>{{ item.name }}</h1></a>
                    </template>
                </a-list-item-meta>
            </a-list-item>

        </a-list>
    </div>
</template>

<script>
    const data = [
        {
            name:'Facebook',
            link:'',
          iframe:'<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FOx%25C3%25ADmetro-Per%25C3%25BA-572419716761580&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=444816039672463" width="600" height="400" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>',
            icon:'facebook'
        }
    ];

    export default {
        data() {
            return {
                data,
            };
        },
    }
</script>

<style scoped>

</style>
