<template>
    <div >
        <find-oximeters :point="point"></find-oximeters>
    </div>
</template>

<script>
    // @ is an alias to /src
    import FindOximeters from "../components/FindOximeters";

    export default {
        name: 'Home',
        components: {
          FindOximeters: FindOximeters
        },
      props:{
          point:{}
      }

    }
</script>
<style lang="css"  >

</style>
