<template>

    <div>
        <a-page-header
                style="border: 1px solid rgb(235, 237, 240)"
                title=" Patrocinadores"
                @back="() => $router.go(-1)"

        >
            <a-row  type="flex" justify="center" :gutter="[8,8]">
                <a-col v-for="n in 6"
                       :key="n"
                       :span="8"
                       :md="6"
                       :sm="12"
                       :xs="24">
                    <a-card
                            hoverable
                            :bordered="false">
                        <img
                                slot="cover"

                                alt="example"
                                src="https://gw.alipayobjects.com/zos/rmsportal/JiqGstEfoWAOHiTxclqi.png"
                        />
                    </a-card>
                </a-col>
            </a-row>

        </a-page-header>
    </div>
</template>


<script>
    export default {
        name: "Sponsors"
    }
</script>

<style scoped>

</style>
