<template>
    <a-list item-layout="horizontal" :data-source="team">
        <a-list-item slot="renderItem" slot-scope="item, index" :key="index">
            <a-list-item-meta
            >
                <a slot="title" >{{ item.title }}</a>
                <template #description>
                   <template v-for="(socialNewtork,i) in item.socialNetworks">
                       <a
                           :key="(i+1)*index"
                           :id="(i+1)*index"
                          :style="{ color: socialNewtork.color }"
                           @click="href(socialNewtork.link)"
                          target="_blank"
                       ><a-icon
                               :type="socialNewtork.icon"
                       />
                           {{socialNewtork.name}}
                       </a>
                   </template>
                </template>
                <a-avatar
                        slot="avatar"
                        :src="item.profile"
                />
            </a-list-item-meta>
        </a-list-item>
    </a-list>
</template>


<script lang="js">
    export default {
        name: "Team",
        data(){
            return {
                team: [
                    {
                        title: 'Franz Antony, Bendezu Isidro',
                        profile:"",
                        socialNetworks:[
                            {
                                name:"Linkedin",
                                icon:"linkedin",
                                color:"#0E76A8",
                                link:"https://www.linkedin.com/in/franz-antony-bendezu-isidro/"
                            }
                        ]
                    },
                    {
                        title: 'Alessandro, Morales Saravia',
                        profile: require('@/assets/profiles/profile-1.jpeg'),
                        socialNetworks:[
                            {
                                name:"Linkedin",
                                icon:"linkedin",
                                color:"#0E76A8",
                                link:"https://www.linkedin.com/in/alessandromorales/"
                            }
                        ]
                    },
                    {
                        title: 'Alvaro Martín, Aspilcueta Narvaez',
                        profile: require('@/assets/profiles/profile-2.jpeg'),
                        socialNetworks:[
                            {
                                name:"Linkedin",
                                icon:"linkedin",
                                color:"#0E76A8",
                                link:"https://www.linkedin.com/in/almartinuni/"
                            }
                        ]
                    },
                    {
                        title: 'Janier, Valdivia Carrillo',
                        profile: require('@/assets/profiles/profile-3.jpeg'),
                        socialNetworks:[
                            {
                                name:"Linkedin",
                                icon:"linkedin",
                                color:"#0E76A8",
                                link:"https://www.linkedin.com/in/janier-valdivia-carrillo-37910739/"
                            }
                        ]
                    },
                    {
                        title: 'Luis, Rueda Yarlequé',
                        profile: require('@/assets/profiles/profile-4.jpeg'),
                        socialNetworks:[
                            {
                                name:"Linkedin",
                                icon:"linkedin",
                                color:"#0E76A8",
                                link:"https://www.linkedin.com/in/luis-rueda-yarlequ%C3%A9-38164648/"
                            }
                        ]
                    },
                    {
                        title: 'Luis, Llerena Alarcón',
                        profile: require('@/assets/profiles/profile-5.jpeg'),
                        socialNetworks:[
                            {
                                name:"Linkedin",
                                icon:"linkedin",
                                color:"#0E76A8",
                                link:"https://www.linkedin.com/in/luis-llerena-alarcon/"
                            }
                        ]
                    }
                ]
            }
        },
        methods:{
            href(link){
                window.open(link,'_blank')
            }
        }
    }
</script>

<style scoped>

</style>
