<template>
  <l-map
    id="map"
    ref="map"
    :zoom.sync="zoom"
    :options="{zoomControl: false}"
    :bounds.sync="bounds"
    @ready="initMap"
    :center.sync="center">
    <l-tile-layer :url="url"></l-tile-layer>
    <l-control position="topleft">
      <card-points-info @onClick="goToBus()" @currentPoint="goToPoint"
                        :districts="districts"
                        :department="currentDepartment"
                        :province="currentProvince"
                        :collapse.sync="collapse"
      >

      </card-points-info>
    </l-control>
    <l-control-zoom position="bottomright"></l-control-zoom>
    <l-control position="bottomleft">

      <GPSUbicationMap @input="goGPS" v-model="myLocation"></GPSUbicationMap>

    </l-control>


    <l-marker :lat-lng="myLocation">
      <l-icon
      >
        <a-icon
          type="environment"
          color="secondary"
          theme="twoTone"
          :style="{ fontSize: '32px' }">
        </a-icon>
      </l-icon>
    </l-marker>
  </l-map>
</template>

<script>
  import Vue from 'vue';
  import {mapActions, mapState} from "vuex";
  import L from "leaflet"

  delete L.Icon.Default.prototype._getIconUrl
  L.Icon.Default.mergeOptions({
    iconRetinaUrl: require('../assets/marker-icon-2x.png'),
    iconUrl: require('../assets/marker-icon.png'),
    shadowUrl: require('leaflet/dist/images/marker-shadow.png')
  });
  import "leaflet.markercluster/dist/leaflet.markercluster"
  import 'leaflet-fullscreen/dist/Leaflet.fullscreen';

  import {LControl, LIcon, LMap, LTileLayer, LMarker, LControlZoom} from 'vue2-leaflet';

  import GPSUbicationMap from "./GPSUbicationMap";
  import GoogleMapsInfo from "./GoogleMapsInfo";
  import CardPointsInfo from "./CardPointsInfo";

  const EnhancedPointCardInfo = Vue.extend(GoogleMapsInfo);
  export default {
    name: 'TrackBus',
    components: {
      GPSUbicationMap,
      LMap,
      LTileLayer,
      LControl,
      LIcon,
      LMarker,
      LControlZoom,
      CardPointsInfo
    },
    async created() {
      await this.syncDepartaments();
      await this.syncProvinces();
      await this.syncDistricts();
      this.fetchData()
    },
    props:{
      point:{}
    },
    watch: {
      // call again the method if the route changes
      //'$route': 'fetchData'
    },
    data: () => ({
      fillColor: "#e4ce7f",
      publicPath: process.env.BASE_URL,
      url: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
      zoom: 8,
      center: {"lat": -12.19969900000001, "lng": -77.003488},
      locations: {
        "type": "Feature",
        "geometry": {
          "type": "Point",
          "coordinates": [

            -12.017693919756253, -77.04947412014008
          ]
        },
        "properties": {
          "name": "Dinagat Islands"
        }
      },
      myLocation: [0, 0],
      bounds: [{
        "_southWest": {"lat": -12.201249675932074, "lng": -77.0042896270752},
        "_northEast": {"lat": -12.1981456580633, "lng": -77.00268566608429}
      }],
      iconEvent: window.L.icon({
        iconUrl: require('@/assets/oximetro.png'),
        iconSize: [32, 32],
        iconAnchor: [16, 16],
        popupAnchor: [0, -5],
      }),
      readyGeoJson: false,
      currentFeatureId: '',
      layers: {},
      geoJsonObjectBound: null,
      collapse: false
    }),
    computed: {
      ...mapState({pointsMedition: state => state.measuringPoints.featureCollection}),
      ...mapState({districts: state => state.districts.districts}),
      ...mapState({currentDepartment: state => state.provinces.department}),
      ...mapState({currentProvince: state => state.districts.province}),
      pointToLayer() {
        return (feature, latlng) => {
          return window.L.marker(latlng, {icon: this.iconEvent});
        }
      },
      map(){
       return this.$refs.map.mapObject
      },
      options() {
        return {
          // pointToLayer: this.pointToLayer,
          onEachFeature: this.onEachFeatureFunction
        };
      },
      onEachFeatureFunction: function () {
        return (feature, layer) => {
          this.layers[feature.properties.id] = layer
          const myPopupVueEl = new EnhancedPointCardInfo({
            propsData: {
              name: feature.properties.name,
              gMapsLink: feature.properties.gMapsLink,
            }
          }).$mount().$el;
          layer.on(
            'click', async () => {
              try {
                await this.$router.push({path: '/', query: {point: feature.properties.id}})
              } catch (e) {
                console.log("Your point id", feature.properties.id)
              }
            }
          )
          layer.bindPopup(myPopupVueEl);
        };
      },
    },
    methods: {
      async goToBus() {
        this.bounds = this.geoJsonObjectBound;

        try {
          await this.$router.push({path: '/'})
        } catch (e) {
          console.log("Your point")
        }
      },
      setView(latLng,zoom){
        this.map.setView(latLng, zoom);
      },
      ...mapActions({
        syncDepartaments: async (action) => await action("departments/syncDepartments"),
        syncProvinces: async (action) => await action("provinces/syncProvinces"),
        syncDistricts: async (action) => await action("districts/syncDistricts"),
        syncFeatureCollection: async (action) => await action("measuringPoints/syncFeatureCollection"),
      }),
      goToPoint: async function (point) {
        this.currentFeatureId = point.id
        this.setView(this.layers[point.id].getLatLng(),17)
        this.collapse = true
        try {
          await this.$router.push({path: '/', query: {point: point.id}})
        } catch (e) {
          console.log("Your point id", point.id)
        }
      },
      initMap: async function (map) {
        map.addControl(new L.Control.Fullscreen().setPosition('bottomright'));
        await this.syncFeatureCollection();
        const markers = window.L.markerClusterGroup();
        const layer = L.geoJSON(this.pointsMedition, this.options).addTo(map);
        markers.addLayer(layer);
        this.bounds = layer.getBounds();
        this.geoJsonObjectBound = layer.getBounds();
      },
      async goGPS(location) {
        this.setView(location,17)

        try {
          await this.$router.push({path: '/'})
        } catch (e) {
          console.log("Your point")
        }
      },
      fetchData(){
        if(this.point) {
          this.goToPoint({id: this.point})
          console.log("")
        }
      }
    }
  }
</script>
<style lang="css" scoped>
  @import "~leaflet/dist/leaflet.css";
  @import "~leaflet.markercluster/dist/MarkerCluster.Default.css";
  @import '~leaflet-fullscreen/dist/leaflet.fullscreen.css';

  #map {
    height: 81vh;
    z-index: 0;
  }


</style>
