<template>

    <iframe :src="gMapsLink"
            style="height: inherit;width: inherit;border:0;"
            frameborder="0"
            allowfullscreen="" aria-hidden="false"
            tabindex="0"></iframe>

</template>

<script>
    export default {
        name: 'GoogleMapsInfo',
        props: {
            gMapsLink: {
                default: ''
            },

        },
    }
</script>
