
<template>
  <a-card size="small"  >
    <a-tooltip placement="top">
      <template slot="title">
        <span>Mi ubicación</span>
      </template>
      <a-button  :loading="loading" type="primary" icon="compass" @click="getLocation" >
      </a-button>
    </a-tooltip>

  </a-card>
</template>

<script>
export default {
  name: 'GPSUbicationMap',
  props: {
  },
  data(){
    return{
      loading:false
    }
  },
  methods: {
    getLocation () {
      this.loading=true
      if (navigator) {
        navigator.geolocation.getCurrentPosition(this.showPosition)
      }else {
        this.loading=false
        throw new Error("Your browser does not support geolocation.");
      }
    },
    showPosition (position) {
      this.$emit('input', [(position.coords.latitude), (position.coords.longitude)])
      this.loading=false
    }
  }
}
</script>

<style scoped>

</style>
