<template lang="html">
  <pro-layout
    :title="siteTitle"
    :menus="menus"
    :collapsed="collapsed"
    :media-query="query"
    :theme="theme"
    :primaryColor="primaryColor"
    :layout="layout"
    :contentWidth="contentWidth"
    :auto-hide-header="autoHideHeader"
    :mediaQuery="query"
    :isMobile="isMobile"
    :handleMediaQuery="handleMediaQuery"
    :handleCollapse="handleCollapse"
  >
    <template v-slot:menuHeaderRender>
      <div>
        <the-logo :title="siteTitle"></the-logo>
      </div>
    </template>
    <template v-slot:headerContentRender>
      <div>
        <the-logo :title="siteTitle"></the-logo>
      </div>
    </template>
    <template v-slot:footerRender>
      <global-footer />
    </template>
    <setting-drawer
      :settings="{
        layout,
        theme,
        contentWidth,
        primaryColor,
        colorWeak,
        fixedHeader,
        fixSiderbar: fixedSidebar,
        hideHintAlert: false,
        hideCopyButton: true
      }"
      @change="handleSettingChange"></setting-drawer>

   <div class="layout-style">
     <slot  ></slot>
   </div>

  </pro-layout>
</template>

<script lang="ts">
  import ProLayout from '@ant-design-vue/pro-layout'
import { SettingDrawer, updateColorWeak } from '@ant-design-vue/pro-layout'
import {updateTheme}from '@ant-design-vue/pro-layout'
import GlobalFooter from "@/components/GlobalFooter.vue"

import {
  CONTENT_WIDTH_TYPE,
  SIDEBAR_TYPE, TOGGLE_COLOR,
  TOGGLE_CONTENT_WIDTH, TOGGLE_FIXED_HEADER,
  TOGGLE_FIXED_SIDEBAR,
  TOGGLE_LAYOUT,
  TOGGLE_MOBILE_TYPE, TOGGLE_NAV_THEME, TOGGLE_WEAK,
} from "@/store/mutation-types"
import defaultSettings from '@/config/defaultSettings'

import {mapGetters, mapState} from "vuex";

import RootState from "@/store/types/RootState";
import {RouteConfig} from "vue-router";
import {routes} from "@/router";
import TheLogo from "@/components/TheLogo.vue";
import Update from "@/mixins/Update";
import Vue from 'vue'
interface MediaQuery{
  'screen-xs': boolean;
  'screen-sm': boolean;
  'screen-md': boolean;
  'screen-lg': boolean;
  'screen-xl': boolean;
  'screen-xxl': boolean;
}
export default Vue.extend({
  name: 'BasicLayout',
  data: () => ({
    siteTitle: defaultSettings.title as string,
    menus: [] as Array<RouteConfig>,
    collapsed: false as boolean,
    query: {},
  }),
  mixins:[Update],
  computed: {
    ...mapState({
      mainMenu: function (state: RootState): Array<RouteConfig> {
        return state.permission.addRouters;
      },
      layout: (state: RootState): string => state.app.layout,
      theme: (state: RootState): string => state.app.theme,
      primaryColor: (state: RootState): string => state.app.color,
      colorWeak: (state: RootState) => state.app.weak,
      fixedHeader: (state: RootState) => state.app.fixedHeader,
      fixedSidebar: (state: RootState) => state.app.fixedSidebar,
      contentWidth: (state: RootState) => state.app.contentWidth,
      autoHideHeader: (state: RootState) => state.app.autoHideHeader,
      isMobile: (state: RootState) => state.app.isMobile,
      sideCollapsed: (state: RootState) => state.app.sideCollapsed,
      multiTab: (state: RootState) => state.app.multiTab,
    }),
    ...mapGetters({
      isTopMenu: 'isTopMenu'
    })
  },
  async created() {
    this.menus = (routes) || []
    this.$watch('collapsed', () => {
      this.$store.commit(SIDEBAR_TYPE, this.collapsed)
    })
    this.$watch('isMobile', () => {
      this.$store.commit(TOGGLE_MOBILE_TYPE, this.isMobile)
    })
  },
  mounted: function () {
    const userAgent = navigator.userAgent
    if (userAgent.indexOf('Edge') > -1) {
      this.$nextTick(() => {
        this.collapsed = !this.collapsed
        setTimeout(() => {
          this.collapsed = !this.collapsed
        }, 16)
      })
    }

    // first update color
    // THEME COLOR HANDLER!! PLEASE CHECK THAT!!
    if (process.env.NODE_ENV !== 'production') {
      updateTheme(this.primaryColor)
    }
    //  first update color weak
    if (this.colorWeak) {
      updateColorWeak(this.colorWeak)
    }
  },
  methods: {
    handleCollapse (val: boolean) {
      this.collapsed = val
    },
    handleMediaQuery (val: MediaQuery) {
      this.query = val
      if (this.isMobile && !(val['screen-xs']||val['screen-sm']||val['screen-md'])) {
        this.$store.commit(TOGGLE_MOBILE_TYPE, false)
        return
      }
      if (!this.isMobile && (val['screen-xs']||val['screen-sm']||val['screen-md'])) {
        this.$store.commit(TOGGLE_MOBILE_TYPE, true)
        this.collapsed = false
      }
    },

    handleSettingChange ({ type, value }: { type: string ; value: string|boolean|number|object }) {
      switch (type) {
        case 'contentWidth':
          this.$store.commit(TOGGLE_CONTENT_WIDTH, value)
          break
        case 'primaryColor':
          this.$store.commit(TOGGLE_COLOR, value)
          break
        case 'layout':
          this.$store.commit(TOGGLE_LAYOUT, value)
          if (value === 'sidemenu') {
            this.$store.commit(TOGGLE_CONTENT_WIDTH, CONTENT_WIDTH_TYPE.Fluid)
          } else {
            this.$store.commit(TOGGLE_CONTENT_WIDTH, CONTENT_WIDTH_TYPE.Fixed)
            this.$store.commit(TOGGLE_FIXED_SIDEBAR, false)
          }
          break
        case 'theme':
          this.$store.commit(TOGGLE_NAV_THEME, value)
          break
        case 'fixedHeader':
          this.$store.commit(TOGGLE_FIXED_HEADER, value)
          break
        case 'fixSiderbar':
          this.$store.commit(TOGGLE_FIXED_SIDEBAR, value)
          break
        case 'colorWeak':
          this.$store.commit(TOGGLE_WEAK, value)
          break
      }
    },

  },
  components: {
    TheLogo,
    GlobalFooter,
    SettingDrawer,
    ProLayout
  }
});
</script>

<style lang="less">
@import "BasicLayout.less";
.layout-style{
  padding: 12px;
  background: #fff;
}
.ant-pro-top-nav-header-logo {
  position: relative;
  width: auto;
  height: 64px;
  overflow: hidden;
  line-height: 64px;
  transition: all 0.3s;
}
</style>
